			*
                       {
                               margin:0px;
                               padding:0px; 
                       }				
			#cnvs
			{
				float:left;
			}
			
			#board
			{
				border:1px solid black;
				cursor:crosshair;
				
			}	
			#tempImg
			{	top:0;
				position:absolute;	
				left:0;
				border:1px solid black;
			}
			
			#toolbar
			{	cursor:default;
				float:left;
				margin-left:10px;
			}
			
			.tools
			{	
				height:38px;
				width:38px;
				outline:gray solid thin;
				background-repeat:no-repeat;
				background-position:center;
			}
			
			.selected
			{
				height:38px;
				width:38px;
				outline:red solid thin;
			}
			
			#pencil
			{	
				background-image:url(pencil.png);
			}
			
			#circle
			{	
				background-image:url(circle.png);				
			}
			
			#rect
			{	
				background-image:url(rectangle.png);
			}
			
			#cursor
			{	
				background-image:url(cursor.png);				
			}
			
			#eraser
			{	
				background-image:url(eraser.png);				
			}
			
			#line
			{	
				background-image:url(line.png);
			}
			
			#brush
			{	
				background-image:url(brush.png);
			}
			#clearall
			{	
				background-image:url(clear.png);
			}

